[Unit]
Description=Run VS Code on your server and access it in the browser
After=network.target

[Service]
Type=simple
User=__ADMIN__
Group=__ADMIN__
WorkingDirectory=/home/__ADMIN__/
EnvironmentFile=__FINALPATH__/code-server.env
ExecStart=/usr/bin/env bash -l -c "__FINALPATH__/release-standalone/bin/code-server --config __FINALPATH__/config.yaml"
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
